*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Mulish';
    font-weight: 400;
}
.container{
    width: 1200px;
    margin: 0 auto;

}
.header .container{
    display: flex;
    justify-content: space-between;
    padding: 140px 0 80px;
    cursor: pointer;
}
.header .menu{
    display: flex;
    gap: 40px;
}
.header .menu a{
    font-size: 18px;
    color: rgba(31, 21, 52, 0.5);
}

.header .menu a:hover{
    color: #1F1534;
}
.hero{
    padding-bottom: 170px;
}
.hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hero .left{
    width: 445px;
}
.hero .left .title{
    font-size: 48px;
}
.hero .left .text{
    color: #7D7987;
    font-size: 24px;
    padding: 25px 0 45px;
}
.hero .left .btn{
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 55px;
    background: #458FF6;
    color:white;
    border: 1px solid transparent;
    cursor: pointer;
    width: 200px;
    height: 56px;
}
.hero .right{
    width: 690px;
}
.hero .right img{
    width: 100%;
}

/* our servisec */
.services{
    padding: 0 0 142px;
}
.services .title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    
}
.services .title::after{
    content: '';
    display: block;
    width: 56px;
    height: 2px;
    background: #000;
    margin: 25px auto 0;
}
.services .text{
   padding: 25px 165px 85px;
   text-align: center;
   color: #7D7987;
}
.services .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.services .card{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: left;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
   
}
.services .card:hover{
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
     cursor: pointer;
}

.services .card .name-card{
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
}
.services .card .about-card{
    color: #7D7987;
    font-weight: 300;
    font-size:  16px;
}
.services .btn{
    font-size: 18px; 
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 55px;
    color: #458FF6;
    border: 1px solid #458FF6;
    background-color: #fff;
    display: block;
    margin: 71px auto 0;
    cursor: pointer;
}

/* Custom */
.custom .container{
    background: linear-gradient(to bottom right, #6EC1E4, #4A90E2);
    border-radius:20px;
    padding: 60px 120px;
    color: #fff;
    width: 1120px;
}
.custom .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom .title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;   
}
.custom .title::after{
    content: '';
    height: 2px;
    width: 56px;
    background-color: #fff;
    border-radius: 5px;
    display: block;
    margin: 25px auto 60px auto;
}
.custom .user{
    display: flex;
    align-items: center;
    gap: 33px;
    width: 354px;
}
.custom .user p{
    font-size: 22px;
    font-weight: 700;
}
.custom .user p span{
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;
}
.custom .text{
    width: 420px;
}
/* scrol */
.scrol .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 44px;
    gap: 90px;
    color: rgba(91, 154, 243, 0.3);
}
.block{
    display: flex;
    gap: 18px;
}
.block .box{
    width: 15px;
    height: 15px;
    background-color: rgba(91, 155, 243, 0.3);
    border-radius: 50%;
}
.block .box.active{
     background-color:  #5B9BF3;
}
.scrol i{
    font-size: 36px;
}
.scrol i.active{
    color: #5B9BF3;
}
